@white-background: #FAFAFA;
@white-font: white;
@power-orange: #E98D32;
@power-orange-font: #E98D32;
@calm-blue: #33A7E1;
@purple: purple;
@yellow: yellow;
@green: green;
@light-gray: #F1EEEE;

.widget {
	background: @white-background;
	padding: 20px;
}

/*
#2D8FEB
*/

.button {
	border-radius: 5px;
	color: @white-font;
	font-size: 0.7rem;
	padding: 7px 14px;
	text-decoration: none;
}

.power-button {
	.button;
	background: @power-orange;
}

.calm-button {
	.button;
	background: @calm-blue;
}

.font-styles {
	font-family: 'Cabin', sans-serif;
	font-weight: normal;	
}

html {
	font-size: 24px;
}

h1 {
	font-size: 2.0rem;
}

h3 {
	font-size: 1.3rem;
}

input, a {
	font-size: 0.8rem;
}